<form method="POST" action="test">
  <h3>Kreuzen Sie die gewünschten Zutaten an:</h3>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="zutat" value="salami">
          Salami
        </label>
      </li>
      <li>
        <label>
           <input type="checkbox" name="zutat2" value="schinken">
           Schinken
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="zutat3" value="sardellen">
          Sardellen
        </label>
      </li>
    </ul>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
